.header{
    height: 900px;
    width: 100%;
  
    background-image: url(header-bg.jpg);
    background-position: 50%;
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.ulli{
    display: flex;
    list-style-type: none;
}
.ulli li a{
    color: rgb(93, 255, 29);
    margin-left: 40px;
}
.back{
      background-color: black;
      width: 1200px;
      height: 80px;
      margin-right: -8px;
      opacity: 0.6;
      
     
}
h5
{
    text-transform: uppercase;
    color: aliceblue;

}
h1{
    color: aliceblue;
    text-transform: lowercase;
    text-size-adjust: 50px;
    border:1px solid transparent;
}
        button{
            margin-left: 130px;
        }
        /* From Uiverse.io by iZOXVL */ 
        .boton-elegante {
        padding: 15px 30px;
        border: 2px solid #0c0909;
        background-color: white;
        color: #181010;
        font-size: 1.2rem;
        cursor: pointer;
        border-radius: 30px;
        transition: all 0.4s ease;
        outline: none;
        position: relative;
        overflow: hidden;
        font-weight: bold;
        border: 1px solid transparent;
        }

        .boton-elegante::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.25) 0%,
            rgba(255, 255, 255, 0) 70%
        );
        transform: scale(0);
        transition: transform 0.5s ease;
        }
        .boton-elegante:hover::after {
        transform: scale(4);
        }
        .boton-elegante:hover {
        border-color: #666666;
        background: #f3efef;
        
        }
.section1
{
    height: 800px;
    width: 100%;
    
}
.tt{
    font-size: 70px;
    color: white;
    margin-right: 50px;
}
.video{
    height: 300px;
    width: 400px;
    border: 1px solid black;  
    margin-left: 180px;    
}
.text{
    height: 300px;
    width: 500px;
    /* border: 1px solid black;  */
    margin-left: 150px;
}
.hello{
    margin-right: 200px;
    font-size: 35px;
}
.main
{
    display: flex;
    margin-top: 150px;
    margin-left: 100px ;
}
.a{
    text-transform: uppercase;
    text-align: center;
    margin-right: 230px;
    color: rgb(148, 134, 2);
}
h1{
    color: black;
    text-align: center;
}
.b{
 font-weight: lighter;   
}
.main2{
    height: 100%;
    width: 100%;
}
.section2{
    height: 800px;
    width: 100%;
    /* border: 1px solid black; */
   background-image: url(https://preview.colorlib.com/theme/coffee/img/menu-bg.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.section3{
   height: 1000px;
   width: 100%;
    background-image: url(https://preview.colorlib.com/theme/coffee/img/menu-bg.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.imgbox{
    height: 800px;
    width: 400px;
    /* border: 1px solid black; */
    margin-left: 80px;
}
 .img1{
    height: 300px;
    width: 400px;
   /* border: 1px solid black; */
   background-image: url(g1.jpg.webp);
   background-repeat: no-repeat;
   background-size: cover;
}
.img2{
    height: 450px;
    width: 400px;
    /* border: 1px solid black; */
    margin-top: 50px;
    background-image: url(g2.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.imgbox11{
    height: 800px;
    width: 800px;
    /* border: 1px solid black; */
    margin-left: 100px;
}
.imgbox1{
    display: flex;
}
.img3{
    height: 400px;
    width: 800px;
    /* border: 1px solid black; */
    background-image: url(g3.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.img4{
    height: 350px;
    width: 375px;
    /* border: 1px solid black; */
    background-repeat: no-repeat;
    background-image: url(g4.jpg.webp);
    background-size: cover;
}
.img5{
    height: 350px;
    width: 375px;
    /* border: 1px solid black; */
    margin-left: 50px;
    background-image: url(g5.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.img45{
    display: flex;
    margin-top: 50px;
}
.ab{
    color: rgb(13, 10, 10);
    font-size: 40px;
}
.cd{
    color:black;
    text-align: center;
    font-size: 50px;
}
.who{
    font-size: 20px;
    text-align: center;
    color:rgb(19, 4, 4);
}
.aa{
    height: 150px;
    width: 300px;
    /* border: 1px solid black; */
    margin-left: 100px;
    box-shadow: 0px 10px 30px 0px rgba(182, 136, 52, 0.2);
    padding:20px;
    font-weight: bold;
    background-color: white;
}
.text-price{
    display: flex;
}
.aaa{
    margin-left: 120px;
}
.yy{
    font-weight: lighter;
    font-size: 20px;
}  
.ccc{
    margin-left: 150px;
}
.eee{
    margin-left: 165px;
}
.hhh{
    margin-left: 145px;
}
.iii{
    margin-left:155px;
}
.bb{
    height: 150px;
    width: 300px;
    /* border: 1px solid black; */
    margin-left: 100px;
    box-shadow: 0px 10px 30px 0px rgba(182, 136, 52, 0.2);
     padding:20px;
}
.cc{
    height: 150px;
    width: 300px;
    /* border: 1px solid black; */
    margin-left: 100px;
    box-shadow: 0px 10px 30px 0px rgba(182, 136, 52, 0.2);
     padding:20px;
}
.abc{
    display: flex;
}
.dd{
     height: 150px;
    width: 300px;
    /* border: 1px solid black; */
    margin-left: 100px;
    margin-top: 30px;
    box-shadow: 0px 10px 30px 0px rgba(182, 136, 52, 0.2);
     padding:20px;
}
.def{
    display: flex;
}
.gg{
         height: 150px;
    width: 300px;
    /* border: 1px solid black; */
    margin-left: 100px;
    margin-top: 30px;
    box-shadow: 0px 10px 30px 0px rgba(182, 136, 52, 0.2);
     padding:20px;
}
.ghi{
    display: flex;
}
.xx{
    font-weight: lighter;
    font-size: 20px;
}
.section4{
    height: 800px;
    width: 100%;
    border: 1px solid black;
    background-color: darkgoldenrod;
}
.dc{
    color:white;
    text-align: center;
    font-size: 50px;
}
.gt{
    font-size: 30px;
    color: white;
    text-align: center;
}
.logo11{
    background-image: url(r1.png.webp);
    background-repeat: no-repeat;
    align-items: center;
    height: 50px;
    width: 500px;
    margin-top: 80px;
    margin-left: 200px;
}
.logo22{
     background-image: url(r2.png.webp);
    background-repeat: no-repeat;
   margin-left: 100px;
    height: 50px;
    width: 500px;
    margin-top: 80px;
    }
.logo1{
    display: flex;
}
.logo111{
    margin-left: 30px;
    color: white;
}
h4{
    font-size: 18px;
    color: white;  
}
.counter{
    font-size: 36px;
color: white;}
.clients{
    display: flex;
    margin-top: 250px;
}
.happy{
    margin-left: 200px;
    color:#fff;
    font-size: 20px;
}
.submit{
    margin-left: 150px;
    color:#fff;
    font-size: 20px;
}
.cup{
    margin-left: 180px;
    color:#fff;
    font-size: 20px;
}
.projects{
    margin-left: 180px;
    color:#fff;
    font-size: 20px;
}
.counter{
    font-size: 50px;
    font-weight: lighter;
}
.box1{
    height: 300px;
    width: 500px;
    border: 1px solid black;
    margin-top: 80px;
    margin-left: 250px;
    background-image: url(b1.jpg.webp);
    background-repeat: no-repeat;
}
.box2{
    height: 300px;
    width: 500px;
    border: 1px solid black;
    margin-left: 30px;
    margin-top: 80px;
    background-image: url(b2.jpg.webp);
   background-repeat: no-repeat;
}
.box{
    display: flex;
}
.section5{
    height: 850px;
    width: 100%;

}
.text1{
    margin-left: 250px;
    margin-top: 50px;
}
.text2{
    margin-top: 350px;
}
.text11{
    margin-left: 250px;
}
.text22{
    color: #000;
    margin-left:250px ;
}
.text23{
    color: #000;
    margin-left: 50;
}
.section6{
   height: 450px;
   width: 100%;
  
   background-image: url(footer-bg.jpg.webp);
   background-repeat: no-repeat;
}
.last11{
    color: #fff;
    margin-top: 200px ;
    margin-left: 200px;

}
.last{
    display: flex;
}
.email{
    width: 250px;
    height: 20px;
}
.yellow{
    height: 25px;
    width: 30px;
    background-color: yellow;
}
.footer1{
    display: flex ;
}
.icon{
  
  margin-top: 202px;
margin-left: 80px;}
.icon1{
    margin-right: 120px;
    margin-top: 40px;
    display: flex;
    
}
#icon{

} 